html, body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

body {
    font-size: 1rem;
    background: #fff;
}

header {
    height: 36px;
    color: #2A2A2A;
    background-color: #F6A031;
    padding: 7px 7px 7px 15px;
    border-bottom: 3px solid rgb(239, 109, 39);
    -moz-user-select: none; /* prevent the user from highlighting the app title */
}

.app_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.toggle_note_input {
    float: right;
    height: 36px;
    width:  36px;
    line-height: 36px;
}

.header_button {
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.notes_button {
    text-align: center;
    line-height: 28px;
    font-size: 20px;

    height: 30px;
    width: 30px;
    float: right;
    border-radius: 50%;
    margin: 1px;
    
    cursor: pointer;
    -moz-user-select: none;
}
.notes_trash_button {
    border: 2px solid rgb(40, 133, 242);
}
.notes_edit_button {
    border: 2px solid #EA5F48;
}

.note_input_section {
    padding: 5px;
    background-color: #F8C272;
}

.note_input {
    width: 95%;
    font:  12pt "Arial Black", Gadget, sans-serif;
}

.note_title_add, note_title_edit {
    height: 30px;
}

.note_body_add, note_body_edit {
    height: 70px;
}

ul.notes_container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note_listing {
    background-color: #E1E9D1;
    padding: 10px;
    border-left: 5px solid #33C1F0;
}
.note_listing:nth-child(4n + 0) {
    border-left-color: rgb(239, 109, 39); /* matches header border-bottom */
}
.note_listing:nth-child(4n + 1) {
    border-left-color: #F89847;
}
.note_listing:nth-child(4n + 2) {
    border-left-color: #e447f8;
}

.note_title { /* it's interesting that this auto sets width to work with the trash button */
    margin: 0;
    color: #113E3A;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.note_title_empty:before {
    color: #4F5454;
    font-style: italic;
    content: "No Title :(";
}

.note_body {
    margin: 0;
    color: #242424;
}
.note_body_empty:before {
    color: #535353;
    font-style: italic;
    content: "No text :(";
}